In [2]:
import pandas as pd
import os

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'clean_movie_attributes.ipynb',
 'title_akas_full.tsv',
 'title_basics_cleaned.tsv',
 'title_basics_full.tsv',
 'title_episode_full.tsv',
 'title_principals_full.tsv',
 'title_ratings_full.tsv']

In [4]:
actors = pd.read_csv('title_basics_full.tsv', sep = '\t')
actors.head()

C:\Users\hlao1\Anaconda3\envs\python36\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
length1 = len(actors)
print(length1)

6350606

In [6]:
actors.drop_duplicates(subset = "primaryTitle", keep = False, inplace = True)

In [7]:
length2 = len(actors)

In [8]:
print(length2)

2882787

In [9]:
actors.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"

In [10]:
actors.sort_values("primaryTitle", inplace = True)

In [11]:
actors.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
2931477,tt2386381,tvSeries,!Next?,!Next?,0,1994,1995,\N,Documentary
2649482,tt2071912,tvEpisode,!Que ve el Bisbe!,!Que ve el Bisbe!,0,2011,\N,\N,Comedy
2292348,tt1699720,movie,!Women Art Revolution,Women Art Revolution,0,2010,\N,83,Documentary
886329,tt0914317,tvEpisode,# 1997 Honda Accord: Gauges Upgrade -,# 1997 Honda Accord: Gauges Upgrade -,0,2005,\N,\N,Talk-Show
5019264,tt7090296,tvEpisode,# 1: Units and Objectives,# 1: Units and Objectives,0,2008,\N,\N,Comedy
1168067,tt10348576,video,# En [Interchange],# En [Interchange],1,2019,\N,128,Adult
3161714,tt2919004,tvEpisode,# Equality,# Equality,0,2013,\N,\N,Comedy
2446756,tt1861897,tvEpisode,# Mechanical Meany/A Chilly Furnace/Homerun Woody,# Mechanical Meany/A Chilly Furnace/Homerun Woody,0,2002,\N,\N,"Adventure,Animation,Comedy"
3953772,tt4724630,video,# My Ass,# My Ass,1,2015,\N,143,Adult
4450142,tt5839910,tvEpisode,# Proud American Special,# Proud American Special,0,2016,\N,\N,Talk-Show

In [12]:
toDrop = ['tvSpecial', 'videoGame', 'tvSeries', 'tvMovie', 'short', 'tvShort', 'tvMiniSeries', 'video', 'tvEpisode']

In [13]:
print(set(actors['titleType']))

{'video', 'tvEpisode', 'tvMovie', 'videoGame', 'short', 'tvShort', 'tvSpecial', 'tvMiniSeries', 'tvSeries', 'movie'}

In [14]:
cleaned = actors[~actors['titleType'].isin(toDrop)]

In [15]:
cleaned.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
2292348,tt1699720,movie,!Women Art Revolution,Women Art Revolution,0,2010,\N,83,Documentary
3669663,tt4089286,movie,#1 Mamarazzi,#1 Mamarazzi,0,\N,\N,\N,Comedy
2896064,tt2346170,movie,#1 Serial Killer,#1 Serial Killer,0,2013,\N,87,Horror
1533641,tt10985348,movie,#1915House,#1915House,0,2018,\N,55,"Horror,Thriller"
4477593,tt5901040,movie,#227,#227,0,\N,\N,\N,Drama

In [16]:
len(cleaned)

377926

In [17]:
cleaned.sort_values("tconst", inplace = True)

C:\Users\hlao1\Anaconda3\envs\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
cleaned.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
145,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport"
332,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama"
571,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama"
673,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,\N,120,"Adventure,Fantasy"

In [5]:
len(cleaned)
cleaned = cleaned.drop(['titleType', 'originalTitle', 'endYear', 'isAdult', 'endYear' ], axis = 1)

NameError: name 'cleaned' is not defined

In [4]:
cleaned.to_csv("title_basics_cleaned.tsv", sep = '|', index  = False)

NameError: name 'cleaned' is not defined

In [21]:
cleaned = pd.read_csv("title_basics_cleaned.tsv", sep ='|')

In [22]:
cleaned.head()
cleaned = cleaned.replace('\\N', 'Unavailable')

,tt0000009,Miss Jerry,1894,45,Romance
0,tt0000147,The Corbett-Fitzsimmons Fight,1897,20,"Documentary,News,Sport"
1,tt0000335,Soldiers of the Cross,1900,Unavailable,"Biography,Drama"
2,tt0000574,The Story of the Kelly Gang,1906,70,"Biography,Crime,Drama"
3,tt0000679,The Fairylogue and Radio-Plays,1908,120,"Adventure,Fantasy"
4,tt0000739,El pastorcito de Torrente,1908,Unavailable,Drama
5,tt0000812,El blocao Velarde,1909,Unavailable,Unavailable
6,tt0000814,La bocana de Mar Chica,1909,Unavailable,Unavailable
7,tt0000838,A Cultura do Cacau,1909,Unavailable,Unavailable
8,tt0000842,De Garraf a Barcelona,1909,Unavailable,Unavailable
9,tt0000846,Un día en Xochimilco,1909,Unavailable,Unavailable
10,tt0000859,Fabricación del corcho en Sant Feliu de Guixols,1909,Unavailable,Unavailable
11,tt0000862,Faldgruben,1909,Unavailable,Unavailable
12,tt0000867,Fiesta de toros,1909,Unavailable,Unavailable
13,tt0000868,Fiestas de Santa Lucía - Belenes,1909,Unavailable,Unavailable
14,tt0000869,Fiestas en La Garriga,1909,Unavailable,Unavailable
15,tt0000879,Gira política de Madero y Pino Suárez,1909,Unavailable,Unavailable
16,tt0000891,Cycle Rider and the Witch,1909,Unavailable,Unavailable
17,tt0000947,Lægens offer,1909,Unavailable,Unavailable
18,tt0000959,Melilla y el Gurugu,1909,Unavailable,Unavailable
19,tt0000984,Niños en la alameda,1909,Unavailable,Unavailable
20,tt0000992,De onde Veje,1909,Unavailable,Unavailable
21,tt0001007,La primera y segunda casetas,1909,Unavailable,Unavailable
22,tt0001010,Protección de un convoy de víveres en el puent...,1909,Unavailable,Unavailable
23,tt0001038,Sherlock Holmes VI,1910,Unavailable,Unavailable
24,tt0001043,Smith's Knockabout Theatre,1909,Unavailable,Unavailable
25,tt0001051,El sueño milagroso,1909,Unavailable,Unavailable
26,tt0001059,O Terremoto de Benavente,1909,Unavailable,Documentary
27,tt0001068,Toma caseta Z,1909,Unavailable,Unavailable
28,tt0001069,Toma del Gurugu,1909,Unavailable,Unavailable
29,tt0001080,Two of the Boys,1909,Unavailable,Unavailable
...,...,...,...,...,...
377895,tt9914942,La vida sense la Sara Amat,2019,74,Drama
377896,tt9915010,The Heart To Fight,Unavailable,Unavailable,"Action,Thriller"
377897,tt9915050,Stagger Lee & Billy,Unavailable,Unavailable,Action
377898,tt9915164,#WorstThing,Unavailable,Unavailable,Horror
377899,tt9915180,The Checkers: Breaking the Ice,Unavailable,Unavailable,Sport
377900,tt9915306,Bhaai Ki Shaadi,Unavailable,Unavailable,Comedy
377901,tt9915436,Vida em Movimento,2019,70,Documentary
377902,tt9915456,Faith's Choice,Unavailable,Unavailable,Drama
377903,tt9915524,Darling?,Unavailable,Unavailable,Thriller
377904,tt9915592,A Husband to Rent,1974,Unavailable,Comedy
377905,tt9915790,Bobbyr Bondhura,2019,Unavailable,Family
377906,tt9915804,The unknown project title at this time,Unavailable,Unavailable,Comedy
377907,tt9915872,The Last White Witch,2019,97,"Comedy,Drama,Fantasy"
377908,tt9915946,Nuestra película,1993,96,Documentary
377909,tt9916026,The Acoustic Sessions: Vol 2,Unavailable,Unavailable,Music
377910,tt9916058,"Cali: ayer, hoy y mañana",1995,250,Documentary
377911,tt9916100,Inventing Robert Capa,Unavailable,Unavailable,"Biography,Drama,War"
377912,tt9916132,The Mystery of a Buryat Lama,2018,94,"Biography,Documentary,History"
377913,tt9916134,The Thing in the Bag,Unavailable,78,Unavailable
377914,tt9916162,Making of 'La Virgen de los sicarios',1999,45,Documentary
377915,tt9916186,Illenau - die Geschichte einer ehemaligen Heil...,2017,84,Documentary
377916,tt9916270,Il Calabrone,Unavailable,Unavailable,Thriller
377917,tt9916428,The Secret of China,2019,Unavailable,"Adventure,History,War"
377918,tt9916538,Kuambil Lagi Hatiku,2019,123,Drama
377919,tt9916620,The Copeland Kids,Unavailable,Unavailable,Drama
377920,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,Unavailable,Documentary
377921,tt9916680,De la ilusión al desconcierto: cine colombiano...,2007,100,Documentary
377922,tt9916706,Dankyavar Danka,2013,Unavailable,Comedy
377923,tt9916730,6 Gunn,2017,116,Unavailable
377924,tt9916754,Chico Albuquerque - Revelações,2013,Unavailable,Documentary

In [24]:
cleaned.to_csv("title_basics_cleaned2.tsv", sep = '|', index  = False)