In [1]:
import pandas as pd
import os
os.listdir()

['.ipynb_checkpoints',
 'clean_actor_attributes.ipynb',
 'clean_movie_attributes.ipynb',
 'name_basics_cleaned.tsv',
 'name_basics_cleaned_no_index.tsv',
 'name_basics_cleaned_with_index.tsv',
 'name_basics_full.tsv',
 'title_akas_full.tsv',
 'title_basics_cleaned.tsv',
 'title_basics_cleaned2.tsv',
 'title_basics_full.tsv',
 'title_episode_full.tsv',
 'title_principals_full.tsv',
 'title_ratings_full.tsv',
 'Untitled.ipynb']

In [4]:
df = pd.read_csv("name_basics_cleaned_no_index.tsv", sep = '\t', index = 'Unnamed')

TypeError: parser_f() got an unexpected keyword argument 'index'

In [3]:
df.head()

,Unnamed: 0,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308"
1,1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0038355,tt0037382,tt0071877"
2,2,nm0000003,Brigitte Bardot,1934,Unavailable,"actress,soundtrack,producer","tt0054452,tt0059956,tt0049189,tt0057345"
3,3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0072562,tt0080455,tt0078723,tt0077975"
4,4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0083922,tt0069467,tt0050986"