In [2]:
import pandas as pd
import os

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'clean_movie_attributes.ipynb',
 'title_akas_full.tsv',
 'title_basics_cleaned.tsv',
 'title_basics_full.tsv',
 'title_episode_full.tsv',
 'title_principals_full.tsv',
 'title_ratings_full.tsv']

In [4]:
actors = pd.read_csv('title_basics_full.tsv', sep = '\t')
actors.head()

C:\Users\hlao1\Anaconda3\envs\python36\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
length1 = len(actors)
print(length1)

6350606

In [6]:
actors.drop_duplicates(subset = "primaryTitle", keep = False, inplace = True)

In [7]:
length2 = len(actors)

In [8]:
print(length2)

2882787

In [9]:
actors.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"

In [10]:
actors.sort_values("primaryTitle", inplace = True)

In [11]:
actors.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
2931477,tt2386381,tvSeries,!Next?,!Next?,0,1994,1995,\N,Documentary
2649482,tt2071912,tvEpisode,!Que ve el Bisbe!,!Que ve el Bisbe!,0,2011,\N,\N,Comedy
2292348,tt1699720,movie,!Women Art Revolution,Women Art Revolution,0,2010,\N,83,Documentary
886329,tt0914317,tvEpisode,# 1997 Honda Accord: Gauges Upgrade -,# 1997 Honda Accord: Gauges Upgrade -,0,2005,\N,\N,Talk-Show
5019264,tt7090296,tvEpisode,# 1: Units and Objectives,# 1: Units and Objectives,0,2008,\N,\N,Comedy
1168067,tt10348576,video,# En [Interchange],# En [Interchange],1,2019,\N,128,Adult
3161714,tt2919004,tvEpisode,# Equality,# Equality,0,2013,\N,\N,Comedy
2446756,tt1861897,tvEpisode,# Mechanical Meany/A Chilly Furnace/Homerun Woody,# Mechanical Meany/A Chilly Furnace/Homerun Woody,0,2002,\N,\N,"Adventure,Animation,Comedy"
3953772,tt4724630,video,# My Ass,# My Ass,1,2015,\N,143,Adult
4450142,tt5839910,tvEpisode,# Proud American Special,# Proud American Special,0,2016,\N,\N,Talk-Show

In [12]:
toDrop = ['tvSpecial', 'videoGame', 'tvSeries', 'tvMovie', 'short', 'tvShort', 'tvMiniSeries', 'video', 'tvEpisode']

In [13]:
print(set(actors['titleType']))

{'video', 'tvEpisode', 'tvMovie', 'videoGame', 'short', 'tvShort', 'tvSpecial', 'tvMiniSeries', 'tvSeries', 'movie'}

In [14]:
cleaned = actors[~actors['titleType'].isin(toDrop)]

In [15]:
cleaned.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
2292348,tt1699720,movie,!Women Art Revolution,Women Art Revolution,0,2010,\N,83,Documentary
3669663,tt4089286,movie,#1 Mamarazzi,#1 Mamarazzi,0,\N,\N,\N,Comedy
2896064,tt2346170,movie,#1 Serial Killer,#1 Serial Killer,0,2013,\N,87,Horror
1533641,tt10985348,movie,#1915House,#1915House,0,2018,\N,55,"Horror,Thriller"
4477593,tt5901040,movie,#227,#227,0,\N,\N,\N,Drama

In [16]:
len(cleaned)

377926

In [17]:
cleaned.sort_values("tconst", inplace = True)

C:\Users\hlao1\Anaconda3\envs\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
cleaned.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
145,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport"
332,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama"
571,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama"
673,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,\N,120,"Adventure,Fantasy"

In [5]:
len(cleaned)
cleaned = cleaned.drop(['titleType', 'originalTitle', 'endYear', 'isAdult', 'endYear' ], axis = 1)

NameError: name 'cleaned' is not defined

In [4]:
cleaned.to_csv("title_basics_cleaned.tsv", sep = '|', index  = False)

NameError: name 'cleaned' is not defined

In [26]:
cleaned = pd.read_csv("title_basics_cleaned.tsv", sep ='|')

In [27]:
cleaned.head()
cleaned = cleaned.replace('\\N', 'Unavailable')

In [28]:
cleaned.to_csv("title_basics_cleaned2.tsv", sep = '|', index  = False)

In [29]:
print(len(cleaned))

377925